In [1]:
import pandas as pd

In [2]:
db = pd.read_csv('US Exit Dataset.xlsx - Sheet1.csv')

In [3]:
db['Acquisition Type'].unique()
db['Exit'] = ""

In [4]:
for i in range(len(db)):
    if db['IPO Status'][i] == "Public":
        db['Exit'][i] = "Public"
    elif db['Acquisition Type'][i] in ['Acquisition', 'Leveraged Buyout', 'Merger', 'Acquihire', 'Management Buyout'] and db['IPO Status'][i] != "Public":
        db['Exit'][i] = db['Acquisition Type'][i]
    elif db['Acquisition Type'][i] is None:
        db['Exit'][i] = db['IPO Status'][i]

/var/folders/js/f8824vl91tb6q5c9s3z_90_h0000gn/T/ipykernel_4885/693589509.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['Exit'][i] = "Public"
/var/folders/js/f8824vl91tb6q5c9s3z_90_h0000gn/T/ipykernel_4885/693589509.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db['Exit'][i] = db['Acquisition Type'][i]

In [5]:
db2 = db.loc[db['Exit'] != '']

In [6]:
db2.columns

Index(['Organization Name', 'Industries', 'Headquarters Location',
       'Headquarters Regions', 'Exit Date', 'Founded Date',
       'Total Funding Amount (in USD)', 'Total Funding Amount Currency',
       'Total Funding Amount Currency (in USD)', 'IPO Status',
       'Acquisition Type', 'Industry', 'Days', 'Years', 'Tech_or_nonTech',
       'Exit'],
      dtype='object')

In [7]:
db2['is_NY'] = ""

for index, row in db2.iterrows():
    if 'New York' in row['Headquarters Location']:
        db2.at[index, 'is_NY'] = 1
    else:
        db2.at[index, 'is_NY'] = 0

/var/folders/js/f8824vl91tb6q5c9s3z_90_h0000gn/T/ipykernel_4885/3784033028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db2['is_NY'] = ""

In [8]:
db2['is_CA'] = ""

for index, row in db2.iterrows():
    if 'California' in row['Headquarters Location']:
        db2.at[index, 'is_CA'] = 1
    else:
        db2.at[index, 'is_CA'] = 0

/var/folders/js/f8824vl91tb6q5c9s3z_90_h0000gn/T/ipykernel_4885/858723303.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db2['is_CA'] = ""

In [9]:
db2['is_TX'] = ""

for index, row in db2.iterrows():
    if 'Texas' in row['Headquarters Location']:
        db2.at[index, 'is_TX'] = 1
    else:
        db2.at[index, 'is_TX'] = 0

/var/folders/js/f8824vl91tb6q5c9s3z_90_h0000gn/T/ipykernel_4885/360616821.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db2['is_TX'] = ""

In [10]:
db2['is_PA'] = ""

for index, row in db2.iterrows():
    if 'Pennsylvania' in row['Headquarters Location']:
        db2.at[index, 'is_PA'] = 1
    else:
        db2.at[index, 'is_PA'] = 0

/var/folders/js/f8824vl91tb6q5c9s3z_90_h0000gn/T/ipykernel_4885/1978132098.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db2['is_PA'] = ""

In [11]:
db2['is_MA'] = ""

for index, row in db2.iterrows():
    if 'Massachusetts' in row['Headquarters Location']:
        db2.at[index, 'is_MA'] = 1
    else:
        db2.at[index, 'is_MA'] = 0

/var/folders/js/f8824vl91tb6q5c9s3z_90_h0000gn/T/ipykernel_4885/3921766863.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db2['is_MA'] = ""

In [12]:
db2['is_OH'] = ""

for index, row in db2.iterrows():
    if 'Ohio' in row['Headquarters Location']:
        db2.at[index, 'is_OH'] = 1
    else:
        db2.at[index, 'is_OH'] = 0

/var/folders/js/f8824vl91tb6q5c9s3z_90_h0000gn/T/ipykernel_4885/2509993160.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db2['is_OH'] = ""

In [13]:
db2['is_IL'] = ""

for index, row in db2.iterrows():
    if 'Illinois' in row['Headquarters Location']:
        db2.at[index, 'is_IL'] = 1
    else:
        db2.at[index, 'is_IL'] = 0

/var/folders/js/f8824vl91tb6q5c9s3z_90_h0000gn/T/ipykernel_4885/247859381.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db2['is_IL'] = ""

In [27]:
from geopy.geocoders import Nominatim

def get_coordinates(city_name):
    geolocator = Nominatim(user_agent="my_geocoder")  # Replace with your user agent
    location = geolocator.geocode(city_name)
    
    if location:
        latitude = location.latitude
        longitude = location.longitude
        return latitude, longitude
    else:
        return None, None

# Example usage
city_name = "New York"
latitude, longitude = get_coordinates(city_name)
if latitude is not None and longitude is not None:
    print(f"Latitude: {latitude}, Longitude: {longitude}")
else:
    print("Coordinates not found for the given city.")

Latitude: 40.7127281, Longitude: -74.0060152

In [36]:
from tqdm import tqdm

db2['Lat'] = ""
db2['Long'] = ""

for index, row in tqdm(db2.iterrows(), total=len(db2)):
    loca = row['Headquarters Location'].split(',')
    latitude, longitude = get_coordinates(loca)
    db2.at[index, 'Lat'] = latitude
    db2.at[index, 'Long'] = longitude

/var/folders/js/f8824vl91tb6q5c9s3z_90_h0000gn/T/ipykernel_4885/3229984649.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db2['Lat'] = ""
/var/folders/js/f8824vl91tb6q5c9s3z_90_h0000gn/T/ipykernel_4885/3229984649.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db2['Long'] = ""
100%|███████████████████████████████████| 19560/19560 [3:31:48<00:00,  1.54it/s]

In [37]:
db2.to_csv('output.csv', index=False)

In [38]:
db2.tail()

,Organization Name,Industries,Headquarters Location,Headquarters Regions,Exit Date,Founded Date,Total Funding Amount (in USD),Total Funding Amount Currency,Total Funding Amount Currency (in USD),IPO Status,...,Exit,is_NY,is_CA,is_TX,is_PA,is_MA,is_OH,is_IL,Lat,Long
21122,Universal Vaporizer Support,Pharmaceutical,"Bohemia, New York, United States","Greater New York Area, East Coast, Northeaster...",2/4/2013,1/1/1983,NaN,NaN,NaN,Private,...,Acquisition,1,0,0,0,0,0,0,40.769409,-73.114866
21123,Missouri Care,"Fitness, Health Care","St Louis, Missouri, United States",Midwestern US,4/1/2013,1/1/2006,NaN,NaN,NaN,Private,...,Acquisition,0,0,0,0,0,0,0,38.628028,-90.191015
21124,Barmore Insurance Agency,"Employee Benefits, Insurance, Risk Management","Houston, Texas, United States","Greater Houston Area, Southern US",12/20/2013,1/1/1952,NaN,NaN,NaN,Private,...,Acquisition,0,0,1,0,0,0,0,29.758938,-95.367697
21125,Metzler Bros. Insurance,"Employee Benefits, Insurance","Kansas City, Missouri, United States",Midwestern US,3/4/2013,1/1/1946,NaN,NaN,NaN,Private,...,Acquisition,0,0,0,0,0,0,0,39.100105,-94.578142
21126,Hardman & Howell Benefits,Employee Benefits,"Wichita, Kansas, United States",Midwestern US,1/2/2013,1/1/1977,NaN,NaN,NaN,Private,...,Acquisition,0,0,0,0,0,0,0,37.692236,-97.337545

In [40]:
keywords = set()

for i in range(len(db2)):
    curr = db2.iloc[i]['Industries'].split(',')  # Use iloc to access DataFrame rows by index
    for x in curr:
        keywords.add(x)

In [48]:
keyword_categories = {
    "Artificial Intelligence": [
        "Artificial Intelligence", "Machine Learning", "Computer Vision", "Natural Language Processing"
    ],
    "Cloud Computing": [
        "Cloud Computing", "Cloud Data Services", "Cloud Infrastructure", "Cloud Management",
        "Cloud Security", "Cloud Storage"
    ],
    "Data Management": [
        "Data Integration", "Data Mining", "Data Storage", "Data Visualization", "Database"
    ],
    "Developer Tools": [
        "Developer APIs", "Developer Platform", "Developer Tools", "DSP"
    ],
    "Internet of Things": [
        "Internet of Things", "Networking", "Network Hardware", "Network Security"
    ],
    "Robotics": [
        "Robotics", "Semiconductor"
    ],
    "Software": [
        "Software", "Operating Systems"
    ],
    "Virtual Reality": [
        "Virtual Reality"
    ],
    "Healthcare and Medical": [
        "Alternative Medicine", "Assisted Living", "Biopharma", "Biotechnology", "Dental",
        "Digital Health", "Health Diagnostics", "Health Insurance", "Medical Device", "Nutrition",
        "Pharmaceuticals", "Therapeutics", "Veterinary"
    ],
    "Finance and Business": [
        "Accounting", "Angel Investment", "Asset Management", "Banking", "Crowdfunding",
        "Cryptocurrency", "Financial Exchanges", "Financial Services", "FinTech", "Insurance",
        "Investment", "Payment", "Venture Capital", "Wealth Management"
    ],
    "Consumer Goods": [
        "Beauty", "Consumer Goods", "Fashion", "Food and Beverage", "Furniture", "Jewelry", "Retail",
        "Toys"
    ],
    "Travel and Hospitality": [
        "Air Transportation", "Hotel", "Tourism", "Travel", "Travel Accommodations", "Travel Agency"
    ],
    "Energy and Environment": [
        "Clean Energy", "Energy Efficiency", "Energy Storage", "Environmental Consulting",
        "Renewable Energy", "Sustainability", "Waste Management", "Water Purification"
    ],
    "Entertainment and Media": [
        "Digital Entertainment", "Film", "Gaming", "Music", "Social Media", "Video", "Video Games"
    ],
    "Education and Learning": [
        "EdTech", "E-Learning", "Education", "Higher Education", "Language Learning"
    ],
    "Real Estate and Construction": [
        "Commercial Real Estate", "Construction", "Property Development", "Property Management",
        "Real Estate", "Real Estate Investment"
    ],
    "Automotive and Transportation": [
        "Automotive", "Autonomous Vehicles", "Car Sharing", "Ride Sharing", "Transportation"
    ],
    "Services and Consulting": [
        "Consulting", "Marketing", "Professional Services", "Project Management"
    ]
}

In [49]:
categories = list(keyword_categories.keys())

In [55]:
for i in tqdm(range(len(db2)), desc="Processing"):
    if i == 19560:
        break
    curr = db2.iloc[i]['Industries'].split(',')
    curr = [industry.strip() for industry in curr]
    for cat in categories:
        for x in curr:
            if x in keyword_categories[cat]:
                db2.at[i, cat] = 1
            else:
                db2.at[i, cat] = 0

Processing:  93%|█████████████████████▍ | 19560/20939 [00:06<00:00, 2884.15it/s]

In [56]:
db2.head()

,Organization Name,Industries,Headquarters Location,Headquarters Regions,Exit Date,Founded Date,Total Funding Amount (in USD),Total Funding Amount Currency,Total Funding Amount Currency (in USD),IPO Status,...,Healthcare and Medical,Finance and Business,Consumer Goods,Travel and Hospitality,Energy and Environment,Entertainment and Media,Education and Learning,Real Estate and Construction,Automotive and Transportation,Services and Consulting
0,Dexcom,"Biotechnology, Health Care, Manufacturing, Med...","San Diego, California, United States","Greater San Diego Area, West Coast, Western US",4/14/2005,1/1/1999,413689019.0,USD,413689019.0,Public,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,First Solar,"Clean Energy, Manufacturing, Solar","Tempe, Arizona, United States","Greater Phoenix Area, Western US",11/17/2006,1/1/1999,667700000.0,USD,667700000.0,Public,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Emergent BioSolutions,"Biotechnology, Health Care, Life Science, Manu...","Gaithersburg, Maryland, United States","Washington DC Metro Area, East Coast, Southern US",11/17/2006,1/1/1998,36500000.0,USD,36500000.0,Public,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Dealertrack,"Automotive, Finance, Financial Services, Indus...","Hempstead, New York, United States","Greater New York Area, East Coast, Northeaster...",12/13/2005,8/10/2001,436180930.0,USD,436180930.0,Delisted,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,TransDigm,"Aerospace, Manufacturing","Cleveland, Ohio, United States","Great Lakes, Midwestern US",3/15/2006,1/1/1993,133789999.0,USD,133789999.0,Public,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1]:
import pandas as pd

In [2]:
db = pd.read_csv('output.csv')

In [5]:
keywords = set()

for i in range(len(db)):
    curr = db.iloc[i]['Industries'].split(',')
    curr = [industry.strip() for industry in curr]
    for x in curr:
        keywords.add(x)

In [64]:
categories = [
    'Technology', 'Healthcare', 'Finance', 'Hospitality and Entertainment', 'Retail', 'Travel', 'Education', 'Automotive', 'Food', 'Sports',
    'Aerospace', 'Oil and Energy', 'Manufacturing and Real Estate', 'Services', 'Biotechnology','Transportation', 'Marketing'
]

keywords_cat = {
    'Technology': {'3D Printing','Apps','Fraud Detection', 'Bitcoin', '3D Technology', 'Ad Network', 'AI', 'Blockchain', 'Cloud Computing', 'Cyber Security', 'Data Science', 'IoT', 'Software',
                   'Android','Trading Platform','Mobile', 'Artificial Intelligence','Hardware', 'Big Data', 'CMS', 'CRM', 'Computer Vision', 'Digital Media', 'E-Commerce', 'E-Commerce Platforms', 'Machine Learning',
                   'Mobile Apps', 'Mobile Devices', 'Mobile Payments', 'SEO', 'SaaS', 'Social Media Marketing', 'Video Streaming','Information Technology', 'Web Apps', 'Web Browsers', 'Web Design', 'Web Development', 'Web Hosting', 'iOS', 'Cloud Security', 'Intelligent Systems', 'Lead Generation', 'Computer', 'Nuclear', 'VoIP','Software as a Service (SaaS)','Enterprise Software','Telecommunications','Developer Tools', 'Semiconductor', 'Wireless'},
    'Healthcare': {'Medical','Cannabis', 'Health Diagnostics', 'Telemedicine', 'Pharmaceutical', 'Wellness', 'mHealth', 'Fitness', 'Medical Device', 'Nutrition', 'Elder Care',
                   'Dietary Supplements', 'Medical Device', 'Medical Device', 'Biotechnology', 'Healthcare Biotechnology', 'Therapeutics', 'Electronic Health Record (EHR)','Outpatient Care', 'Personal Health', 'Cosmetic Surgery', 'Dental', 'Veterinary', 'Medical', 'Nursing and Residential Care',
        'Electronic Health Record (EHR)', 'Clinical Trials', 'Health Insurance', 'Telemedicine', 'Assistive Technology',
        'Hospital', 'Psychology', 'Rehabilitation', 'Health Care', 'Emergency Medicine', 'Alternative Medicine'},
    'Finance': {'FinTech','Trading Platform', 'Banking','InsurTech', 'Insurance', 'Investment', 'Payment', 'Cryptocurrency', 'Stock Exchanges', 'Wealth Management', 'Credit Cards', 'Personal Finance',
                'Financial Exchanges', 'Financial Services', 'Hedge Funds', 'Impact Investing', 'Venture Capital','Accounting', 'Billing', 'Transaction Processing', 'Finance', 'Commercial Insurance', 'Life Insurance',
        'Credit', 'Risk Management', 'Investment', 'Asset Management', 'Payments', 'Consumer Lending', 'Banking',
        'Financial Technology (FinTech)', 'Real Estate Investment', 'Property Management', 'Lending'},
    'Hospitality and Entertainment': {'Film','Publishing', 'News' 'Music', 'Gaming', 'Streaming', 'Virtual Reality', 'Video Games', 'eSports', 'Social Media', 'Media and Entertainment', 'Video Streaming',
                      'Digital Entertainment','Child Care', 'Home Services', 'Home Health Care','Film Distribution', 'Film Production', 'Music', 'Virtual Reality', 'Restaurants', 'Leisure', 'Nightlife', 'Entertainment', 'Hospitality', 'Hotels', 'Travel Agency', 'Tourism', 'Events', 'Event Management',
        'Funerals', 'Event Planning', 'Gaming', 'Music', 'Art', 'Video Games', 'Movies', 'Cycling', 'Racing'},
    'Retail': {'E-Commerce', 'Retail', 'Fashion', 'Online Shopping', 'Consumer Goods', 'Online Auctions', 'Marketplace', 'Shopping', 'Consumer Electronics', 'Grocery',
               'Consumer', 'Retail Technology', 'Shopping', 'Online Portals', 'Retail', 'Consumer Goods', 'E-Commerce', 'Marketplace'},
    'Travel': {'Travel', 'Tourism', 'Vacation Rental', 'Air Transportation', 'Hotel', 'Travel Accommodations', 'Car Sharing', 'Adventure Travel', 'Tour Operator', 'Cruise',
               'Air Transportation', 'Hotel', 'Travel Accommodations', 'Car Sharing', 'Adventure Travel', 'Tour Operator', 'Cruise'},
    'Education': {'EdTech', 'eLearning', 'Online Courses', 'Ediscovery', 'Educational Software', 'Language Learning', 'Online Learning', 'Universities', 'STEM Education', 'Continuing Education',
                  'Education', 'E-Learning', 'Online Courses', 'Educational Software', 'Language Learning', 'Online Learning', 'Universities', 'STEM Education', 'Continuing Education','Education', 'Training', 'Online Learning', 'Skill Development', 'Learning Management System (LMS)', 'Corporate Training', 'Professional Development',
        'E-learning', 'Education Technology (EdTech)', 'Tutorials', 'Learning', 'Knowledge', 'Learning Platform'},
    'Automotive': {'Automotive', 'Electric Vehicle', 'Autonomous Vehicles', 'Car Sharing', 'Vehicle', 'Automotive Technology', 'Car Rental', 'Automotive Manufacturing', 'Auto Insurance',
                   'Automotive','Hardware', 'Electric Vehicle', 'Autonomous Vehicles', 'Car Sharing', 'Vehicle', 'Automotive Technology', 'Car Rental', 'Automotive Manufacturing', 'Auto Insurance', 'Mechanical Engineering', 'Industrial Automation'},
    'Food': {'Food and Beverage', 'Restaurant', 'Food Delivery', 'Catering', 'Grocery', 'Fast-Moving Consumer Goods', 'Cooking', 'Food Processing', 'Culinary', 'Nutraceutical',
             'Food Trucks', 'Fast-Moving Consumer Goods', 'Food and Beverage', 'Cooking', 'Culinary'},
    'Sports': {'Sports', 'Athletics', 'Sporting Goods', 'Fitness', 'Outdoor', 'Adventure Sports', 'Sports Equipment', 'Recreation', 'Sports Apparel', 'Team Sports',
               'Sports', 'Athletics', 'Sporting Goods', 'Fitness', 'Outdoor', 'Adventure Sports', 'Sports Equipment', 'Recreation', 'Sports Apparel', 'Team Sports'},
    'Aerospace': {'Aerospace', 'Air Transportation', 'Aircraft Manufacturing', 'Aircraft Maintenance', 'Aviation', 'Space Travel', 'Aircraft Design'},
    'Oil and Energy': {'Oil and Energy', 'Renewable Energy', 'Energy Management', 'Wind Energy', 'Solar Energy', 'Oil Exploration', 'Energy Efficiency', 'Electric Vehicle', 'Mining Technology','Water Purification', 'Clean Energy', 'Sustainability', 'Renewable Energy', 'Fuel', 'Oil and Gas', 'Energy',
        'Energy Storage','Fertility', 'Hydroponics', 'Waste Management', 'Recycling', 'Environmental Consulting', 'Environmental Engineering','Fertility'
        'Biofuel', 'Solar Energy', 'Water', 'Water Transportation', 'Mining', 'Mineral'},
    'Manufacturing and Real Estate': {'Manufacturing','Advanced Materials','Leasing','Wood Processing', 'Industrial Manufacturing', 'Industrial Design', 'Manufacturing Processes', 'Factory', 'Production Line', 'Manufacturing Equipment','Commercial Real Estate', 'Residential Real Estate', 'Real Estate', 'Property Development', 'Home Improvement', 'Construction',
        'Building Material', 'Processing','Architecture','Plastics and Rubber Manufacturing', 'Property Insurance', 'Building Maintenance', 'Residential', 'Commercial', 'Office Administration', 'Packaging Services', 'Paper Manufacturing','Infrastructure', 'Industrial','Machinery Manufacturing','Engineering', 'Industrial Automation', 'Textiles'},
    'Services': {'Services','InsurTech','Industrial Engineering', 'Professional Services', 'Consulting', 'Service Industry', 'Business Services', 'Customer Service', 'Technical Support', 'Outsourcing',
                 'Courier Service','Incubators','Crowdfunding','Delivery Service','Home Health Care','Fleet Management', 'Service Industry', 'Professional Services', 'Outsourcing', 'Business Services', 'Accounting','Sales', 'Business Intelligence','Sales', 'Supply Chain Management','Document Preparation', 'Legal', 'Consulting', 'Management Consulting', 'Tax', 'Law Enforcement', 'Public Safety',
        'Legal Services', 'Business Development', 'Business Intelligence', 'Innovation Management', 'Innovation', 'Management Information Systems',
        'Enterprise Resource Planning (ERP)', 'Marketplace', 'Business Information Systems', 'Management', 'Consultancy', 'Professional Networking','Employee Benefits','Facility Management','Warehousing', 'Taxi Service'},
    'Biotechnology': {'Biotechnology', 'Biopharma', 'Bioinformatics', 'Genetics', 'Life Science', 'Pharmaceutical', 'Healthcare Biotechnology', 'Biotech Research'}, 'Marketing': [
        'Marketing', 'Market Research', 'Brand Marketing', 'Content Syndication', 'Advertising', 'Advertising Platforms',
        'Marketing Automation', 'Digital Marketing', 'Search Engine', 'Social Network', 'Video', 'Email', 'Loyalty Programs',
        'Direct Marketing', 'Mobile Advertising', 'Promotion', 'Public Relations'
    ],
    'Transportation': [
        'Marine Transportation', 'Navigation', 'Public Transportation', 'Freight Service', 'Shipping', 'Last Mile Transportation',
        'Railroad', 'Water Transportation', 'Transportation', 'Vehicle', 'Logistics', 'Delivery', 'Ride Sharing', 'Boating'
    ]
}

In [65]:
for cat in categories:
    db[cat] = 0

# Iterate through the data and populate category columns
for i in tqdm(range(len(db)), desc="Processing"):
    curr = db.iloc[i]['Industries'].split(',')
    curr = [industry.strip() for industry in curr]
    for cat in categories:
        for x in curr:
            if x in keywords_cat[cat]:
                db.at[i, cat] = 1

Processing: 100%|██████████████████████| 19560/19560 [00:01<00:00, 10569.48it/s]

In [67]:
db.head()

,Organization Name,Industries,Headquarters Location,Headquarters Regions,Exit Date,Founded Date,Total Funding Amount (in USD),Total Funding Amount Currency,Total Funding Amount Currency (in USD),IPO Status,...,Sports,Aerospace,Oil and Energy,Manufacturing,Services,Biotechnology,Hospitality and Entertainment,Manufacturing and Real Estate,Transportation,Marketing
0,Dexcom,"Biotechnology, Health Care, Manufacturing, Med...","San Diego, California, United States","Greater San Diego Area, West Coast, Western US",4/14/2005,1/1/1999,413689019.0,USD,413689019.0,Public,...,0,0,0,0,0,1,0,1,0,0
1,First Solar,"Clean Energy, Manufacturing, Solar","Tempe, Arizona, United States","Greater Phoenix Area, Western US",11/17/2006,1/1/1999,667700000.0,USD,667700000.0,Public,...,0,0,1,0,0,0,0,1,0,0
2,Emergent BioSolutions,"Biotechnology, Health Care, Life Science, Manu...","Gaithersburg, Maryland, United States","Washington DC Metro Area, East Coast, Southern US",11/17/2006,1/1/1998,36500000.0,USD,36500000.0,Public,...,0,0,0,0,0,1,0,1,0,0
3,Dealertrack,"Automotive, Finance, Financial Services, Indus...","Hempstead, New York, United States","Greater New York Area, East Coast, Northeaster...",12/13/2005,8/10/2001,436180930.0,USD,436180930.0,Delisted,...,0,0,0,0,0,0,0,1,0,0
4,TransDigm,"Aerospace, Manufacturing","Cleveland, Ohio, United States","Great Lakes, Midwestern US",3/15/2006,1/1/1993,133789999.0,USD,133789999.0,Public,...,0,1,0,0,0,0,0,1,0,0

In [81]:
columns_to_drop = ['Organization Name', 'Industries','Headquarters Location', 'Headquarters Regions', 'Exit Date', 'Founded Date', 'Total Funding Amount Currency', 'Total Funding Amount Currency (in USD)', 'Manufacturing', 'Entertainment']
db2 = db.drop(columns=columns_to_drop)

In [82]:
from sklearn.preprocessing import LabelEncoder


label_encoder = LabelEncoder()


categorical_columns = ['IPO Status', 'Acquisition Type', 'Industry', 'Tech_or_nonTech', 'Exit']
for col in categorical_columns:
    db2[col] = label_encoder.fit_transform(db2[col])


db2

,Total Funding Amount (in USD),IPO Status,Acquisition Type,Industry,Days,Years,Tech_or_nonTech,Exit,is_NY,is_CA,...,Food,Sports,Aerospace,Oil and Energy,Services,Biotechnology,Hospitality and Entertainment,Manufacturing and Real Estate,Transportation,Marketing
0,413689019.0,2,5,3,2295,6.288000,1,5,0,1,...,0,0,0,0,0,1,0,1,0,0
1,667700000.0,2,5,3,2877,7.882000,1,5,0,0,...,0,0,0,1,0,0,0,1,0,0
2,36500000.0,2,5,3,3242,8.882000,1,5,0,0,...,0,0,0,0,0,1,0,1,0,0
3,436180930.0,0,1,3,1586,4.345000,1,1,1,0,...,0,0,0,0,0,0,0,1,0,0
4,133789999.0,2,5,3,4821,13.208000,1,5,0,0,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19555,NaN,1,1,1,10992,30.115068,0,1,1,0,...,0,0,0,0,0,1,0,0,0,0
19556,NaN,1,1,1,2647,7.252055,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
19557,NaN,1,1,1,22634,62.010959,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
19558,NaN,1,1,1,24534,67.216438,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
19559,NaN,1,1,1,13150,36.027397,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0

In [83]:
db2.corr()

,Total Funding Amount (in USD),IPO Status,Acquisition Type,Industry,Days,Years,Tech_or_nonTech,Exit,is_NY,is_CA,...,Food,Sports,Aerospace,Oil and Energy,Services,Biotechnology,Hospitality and Entertainment,Manufacturing and Real Estate,Transportation,Marketing
Total Funding Amount (in USD),1.000000,0.105875,0.113378,0.050262,0.017668,0.017669,0.016214,0.119272,-0.008433,0.040973,...,0.020807,-0.009504,0.000601,0.033290,-0.016072,0.004027,-0.001288,-0.013528,0.084458,-0.012499
IPO Status,0.105875,1.000000,0.826960,-0.080130,-0.091515,-0.091515,0.020436,0.879418,0.049825,0.030748,...,-0.011390,-0.015235,0.003422,0.063330,-0.033122,0.173778,-0.022518,-0.060182,-0.017002,-0.012959
Acquisition Type,0.113378,0.826960,1.000000,-0.092265,-0.100930,-0.100930,0.026207,0.950225,0.048937,0.035219,...,-0.014171,-0.019978,0.006683,0.067642,-0.043136,0.213751,-0.034218,-0.068271,-0.016338,-0.007549
Industry,0.050262,-0.080130,-0.092265,1.000000,0.174805,0.174805,0.423805,-0.092565,-0.084207,-0.012584,...,0.081399,-0.024295,0.136147,0.143198,-0.078072,-0.133315,0.067219,0.580472,0.275484,-0.011408
Days,0.017668,-0.091515,-0.100930,0.174805,1.000000,1.000000,-0.039139,-0.100654,-0.023818,-0.153756,...,0.047420,-0.038843,0.038765,0.009334,-0.004915,-0.188873,-0.019506,0.244555,0.046219,-0.049321
Years,0.017669,-0.091515,-0.100930,0.174805,1.000000,1.000000,-0.039139,-0.100654,-0.023819,-0.153756,...,0.047420,-0.038843,0.038765,0.009334,-0.004915,-0.188873,-0.019506,0.244555,0.046219,-0.049321
Tech_or_nonTech,0.016214,0.020436,0.026207,0.423805,-0.039139,-0.039139,1.000000,0.030738,-0.025341,0.072158,...,0.036752,0.003449,0.079357,0.100782,-0.102029,0.181533,-0.050188,0.440083,-0.001039,0.060954
Exit,0.119272,0.879418,0.950225,-0.092565,-0.100654,-0.100654,0.030738,1.000000,0.047938,0.035035,...,-0.015636,-0.019761,0.003874,0.074031,-0.044235,0.218132,-0.031003,-0.070985,-0.014071,-0.010658
is_NY,-0.008433,0.049825,0.048937,-0.084207,-0.023818,-0.023819,-0.025341,0.047938,1.000000,-0.133710,...,0.006966,0.015069,-0.023497,-0.023111,0.007723,-0.035331,0.043090,-0.059990,-0.017439,0.036532
is_CA,0.040973,0.030748,0.035219,-0.012584,-0.153756,-0.153756,0.072158,0.035035,-0.133710,1.000000,...,-0.001524,0.020454,0.013133,-0.015976,-0.024295,0.071323,0.010949,-0.031814,-0.026637,0.024964
is_TX,-0.005715,-0.001956,-0.002097,0.024070,-0.001366,-0.001366,-0.005492,0.003538,-0.078280,-0.133406,...,-0.009096,-0.012393,-0.018384,0.108906,0.011722,-0.054441,-0.007112,0.025933,0.020959,-0.026715
is_PA,-0.008805,-0.013375,-0.012001,-0.011777,0.029538,0.029538,-0.008032,-0.012015,-0.056357,-0.096044,...,0.002730,-0.008272,-0.017346,-0.011625,0.010787,0.031457,-0.009601,-0.005560,-0.012408,-0.008778
is_MA,-0.003588,0.034492,0.028051,-0.021496,-0.052516,-0.052516,0.059446,0.034161,-0.072748,-0.123978,...,-0.027116,-0.004850,-0.004348,-0.021643,-0.011703,0.138131,-0.004409,-0.019112,-0.028378,0.000939
is_OH,-0.003068,-0.028129,-0.031144,0.056500,0.085310,0.085310,0.025106,-0.031996,-0.051475,-0.087725,...,-0.003657,-0.010520,0.009713,0.008057,0.011529,-0.040523,-0.010984,0.066643,0.017798,-0.011638
is_IL,-0.008728,-0.020029,-0.021143,0.015434,0.058211,0.058211,-0.007443,-0.019263,-0.061012,-0.103979,...,0.030040,0.000765,-0.007299,-0.004794,0.023848,-0.043077,0.001670,0.016973,0.037942,-0.000028
Lat,-0.007188,-0.011343,-0.020967,0.016766,0.071734,0.071734,0.056286,-0.021808,0.175499,-0.232787,...,0.008460,-0.005678,-0.003579,-0.048588,-0.014715,0.031554,-0.012614,0.042081,-0.008823,0.013750
Long,-0.037941,-0.007536,-0.008938,-0.022086,0.112249,0.112249,-0.053121,-0.005846,0.289259,-0.728481,...,-0.014607,-0.019495,-0.028254,-0.033497,0.011130,0.003926,-0.005748,0.008103,-0.001815,-0.014189
Technology,-0.008078,-0.076522,-0.088053,-0.012253,-0.161786,-0.161786,0.350216,-0.086196,0.030362,0.088392,...,-0.028549,-0.008280,-0.021299,-0.025524,0.059763,-0.141868,0.056799,-0.070502,0.026499,0.066333
Healthcare,-0.029691,0.062292,0.086963,-0.288484,-0.236571,-0.236571,-0.073194,0.087011,-0.032763,0.036736,...,-0.008253,0.117221,-0.085207,-0.120620,-0.143960,0.509439,-0.056299,-0.301030,-0.199199,-0.013412
Finance,-0.015467,0.037070,0.031509,-0.630586,-0.004433,-0.004433,-0.350232,0.032483,0.110677,-0.027650,...,-0.082267,-0.060991,-0.056690,-0.081169,0.149938,-0.217701,-0.054841,-0.324279,-0.139375,0.016219
Retail,-0.004287,-0.023607,-0.034517,0.093810,0.035078,0.035078,0.113409,-0.026879,0.027956,0.017290,...,0.104895,0.021201,-0.020960,-0.012872,0.007688,-0.087156,0.072079,0.071891,0.029826,0.044052
Travel,0.008775,-0.003250,-0.018283,0.229481,-0.040810,-0.040810,-0.014688,-0.011152,0.023689,0.023638,...,0.011857,-0.002236,0.161698,-0.018990,-0.009738,-0.056921,0.302435,-0.096269,0.025285,0.034850
Education,-0.003698,-0.000685,-0.006475,-0.038306,-0.016615,-0.016614,-0.021938,-0.005469,0.015665,-0.022564,...,-0.014898,0.028060,0.005523,-0.013691,0.024513,-0.023332,0.036737,-0.056983,-0.006645,0.025080
Automotive,0.029538,-0.028576,-0.029015,0.362618,0.080424,0.080424,0.194061,-0.029529,-0.042169,-0.007794,...,-0.034331,-0.036391,0.031897,0.041926,0.010112,-0.114075,-0.041536,0.142171,0.175962,-0.005905
Food,0.020807,-0.011390,-0.014171,0.081399,0.047420,0.047420,0.036752,-0.015636,0.006966,-0.001524,...,1.000000,0.039034,-0.017808,-0.005924,-0.038494,-0.017375,0.032801,0.094226,0.003405,-0.009362
Sports,-0.009504,-0.015235,-0.019978,-0.024295,-0.038843,-0.038843,0.003449,-0.019761,0.015069,0.020454,...,0.039034,1.000000,-0.013321,-0.026564,-0.041940,-0.029723,0.061299,-0.052740,-0.040897,0.008226
Aerospace,0.000601,0.003422,0.006683,0.136147,0.038765,0.038765,0.079357,0.003874,-0.023497,0.013133,...,-0.017808,-0.013321,1.000000,-0.001984,0.003028,-0.043844,-0.012459,0.070940,0.025379,-0.015800
Oil and Energy,0.033290,0.063330,0.067642,0.143198,0.009334,0.009334,0.100782,0.074031,-0.023111,-0.015976,...,-0.005924,-0.026564,-0.001984,1.000000,-0.009183,-0.064554,-0.032489,0.099125,0.080058,-0.013687
Services,-0.016072,-0.033122,-0.043136,-0.078072,-0.004915,-0.004915,-0.102029,-0.044235,0.007723,-0.024295,...,-0.038494,-0.041940,0.003028,-0.009183,1.000000,-0.119633,0.013451,-0.138658,0.060879,-0.004953
Biotechnology,0.004027,0.173778,0.213751,-0.133315,-0.188873,-0.188873,0.181533,0.218132,-0.035331,0.071323,...,-0.017375,-0.029723,-0.043844,-0.064554,-0.119633,1.000000,-0.076831,-0.149830,-0.107967,-0.020998
Hospitality and Entertainment,-0.001288,-0.022518,-0.034218,0.067219,-0.019506,-0.019506,-0.050188,-0.031003,0.043090,0.010949,...,0.032801,0.061299,-0.012459,-0.032489,0.013451,-0.076831,1.000000,-0.086596,0.009866,0.128823
Manufacturing and Real Estate,-0.013528,-0.060182,-0.068271,0.580472,0.244555,0.244555,0.440083,-0.070985,-0.059990,-0.031814,...,0.094226,-0.052740,0.070940,0.099125,-0.138658,-0.149830,-0.086596,1.000000,-0.037566,-0.044725
Transportation,0.084458,-0.017002,-0.016338,0.275484,0.046219,0.046219,-0.001039,-0.014071,-0.017439,-0.026637,...,0.003405,-0.040897,0.025379,0.080058,0.060879,-0.107967,0.009866,-0.037566,1.000000,0.008754
Marketing,-0.012499,-0.012959,-0.007549,-0.011408,-0.049321,-0.049321,0.060954,-0.010658,0.036532,0.024964,...,-0.009362,0.008226,-0.015800,-0.013687,-0.004953,-0.020998,0.128823,-0.044725,0.008754,1.000000

In [85]:
db2.dtypes

Total Funding Amount (in USD)    float64
IPO Status                         int64
Acquisition Type                   int64
Industry                           int64
Days                               int64
Years                            float64
Tech_or_nonTech                    int64
Exit                               int64
is_NY                              int64
is_CA                              int64
is_TX                              int64
is_PA                              int64
is_MA                              int64
is_OH                              int64
is_IL                              int64
Lat                              float64
Long                             float64
Technology                         int64
Healthcare                         int64
Finance                            int64
Retail                             int64
Travel                             int64
Education                          int64
Automotive                         int64
Food                               int64
Sports                             int64
Aerospace                          int64
Oil and Energy                     int64
Services                           int64
Biotechnology                      int64
Hospitality and Entertainment      int64
Manufacturing and Real Estate      int64
Transportation                     int64
Marketing                          int64
dtype: object

In [86]:
db.to_csv('with_keywords.csv')

In [87]:
db2.to_csv('encoded.csv')

In [ ]:
#PART 2

In [20]:
import pandas as pd

In [21]:
data = pd.read_csv('encoded.csv')
data.head()

,Unnamed: 0,Total Funding Amount (in USD),IPO Status,Acquisition Type,Industry,Days,Years,Tech_or_nonTech,Exit,is_NY,...,Food,Sports,Aerospace,Oil and Energy,Services,Biotechnology,Hospitality and Entertainment,Manufacturing and Real Estate,Transportation,Marketing
0,0,413689019.0,2,5,3,2295,6.288,1,5,0,...,0,0,0,0,0,1,0,1,0,0
1,1,667700000.0,2,5,3,2877,7.882,1,5,0,...,0,0,0,1,0,0,0,1,0,0
2,2,36500000.0,2,5,3,3242,8.882,1,5,0,...,0,0,0,0,0,1,0,1,0,0
3,3,436180930.0,0,1,3,1586,4.345,1,1,1,...,0,0,0,0,0,0,0,1,0,0
4,4,133789999.0,2,5,3,4821,13.208,1,5,0,...,0,0,1,0,0,0,0,1,0,0

In [22]:
columns_to_drop = ["Unnamed: 0", "IPO Status", "Acquisition Type", 'Years']
data = data.drop(columns=columns_to_drop)

In [25]:
data

In [19]:
data_cleaned.to_csv('noise_remove')

In [39]:
dd = pd.read_csv('with_keywords.csv')

In [40]:
columns_to_drop = ['Organization Name', 'Industries','Headquarters Regions', 'Exit Date', 'Founded Date', 'Total Funding Amount Currency', 'Total Funding Amount Currency (in USD)', 'Manufacturing', 'Entertainment']
dd = dd.drop(columns=columns_to_drop)

In [41]:
dd.head()

,Unnamed: 0,Headquarters Location,Total Funding Amount (in USD),IPO Status,Acquisition Type,Industry,Days,Years,Tech_or_nonTech,Exit,...,Food,Sports,Aerospace,Oil and Energy,Services,Biotechnology,Hospitality and Entertainment,Manufacturing and Real Estate,Transportation,Marketing
0,0,"San Diego, California, United States",413689019.0,Public,NaN,Manufacturing,2295,6.288,Tech,Public,...,0,0,0,0,0,1,0,1,0,0
1,1,"Tempe, Arizona, United States",667700000.0,Public,NaN,Manufacturing,2877,7.882,Tech,Public,...,0,0,0,1,0,0,0,1,0,0
2,2,"Gaithersburg, Maryland, United States",36500000.0,Public,NaN,Manufacturing,3242,8.882,Tech,Public,...,0,0,0,0,0,1,0,1,0,0
3,3,"Hempstead, New York, United States",436180930.0,Delisted,Acquisition,Manufacturing,1586,4.345,Tech,Acquisition,...,0,0,0,0,0,0,0,1,0,0
4,4,"Cleveland, Ohio, United States",133789999.0,Public,NaN,Manufacturing,4821,13.208,Tech,Public,...,0,0,1,0,0,0,0,1,0,0

In [42]:
dd['Location'] = ""
for i in range(len(dd)):
    dd['Location'][i] = dd['Headquarters Location'][i].split(',')[0]

/var/folders/js/f8824vl91tb6q5c9s3z_90_h0000gn/T/ipykernel_1749/2170009192.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd['Location'][i] = dd['Headquarters Location'][i].split(',')[0]

In [43]:
dd = dd.drop(columns=['Headquarters Location'])

In [44]:
columns_to_drop = ["Unnamed: 0", "IPO Status", "Acquisition Type", 'Years']
dd = dd.drop(columns=columns_to_drop)

In [45]:
dd.head()

,Total Funding Amount (in USD),Industry,Days,Tech_or_nonTech,Exit,is_NY,is_CA,is_TX,is_PA,is_MA,...,Sports,Aerospace,Oil and Energy,Services,Biotechnology,Hospitality and Entertainment,Manufacturing and Real Estate,Transportation,Marketing,Location
0,413689019.0,Manufacturing,2295,Tech,Public,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,San Diego
1,667700000.0,Manufacturing,2877,Tech,Public,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,Tempe
2,36500000.0,Manufacturing,3242,Tech,Public,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,Gaithersburg
3,436180930.0,Manufacturing,1586,Tech,Acquisition,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,Hempstead
4,133789999.0,Manufacturing,4821,Tech,Public,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,Cleveland

In [46]:
from sklearn.preprocessing import LabelEncoder


label_encoder = LabelEncoder()


categorical_columns = ['Industry', 'Tech_or_nonTech', 'Exit', 'Location']
for col in categorical_columns:
    dd[col] = label_encoder.fit_transform(dd[col])

In [47]:
dd.head()

,Total Funding Amount (in USD),Industry,Days,Tech_or_nonTech,Exit,is_NY,is_CA,is_TX,is_PA,is_MA,...,Sports,Aerospace,Oil and Energy,Services,Biotechnology,Hospitality and Entertainment,Manufacturing and Real Estate,Transportation,Marketing,Location
0,413689019.0,3,2295,1,5,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,2167
1,667700000.0,3,2877,1,5,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,2422
2,36500000.0,3,3242,1,5,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,885
3,436180930.0,3,1586,1,1,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1052
4,133789999.0,3,4821,1,5,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,467

In [48]:
dd.to_csv('noise_removed')

In [49]:
dd.corr()

,Total Funding Amount (in USD),Industry,Days,Tech_or_nonTech,Exit,is_NY,is_CA,is_TX,is_PA,is_MA,...,Sports,Aerospace,Oil and Energy,Services,Biotechnology,Hospitality and Entertainment,Manufacturing and Real Estate,Transportation,Marketing,Location
Total Funding Amount (in USD),1.000000,0.050262,0.017668,0.016214,0.119272,-0.008433,0.040973,-0.005715,-0.008805,-0.003588,...,-0.009504,0.000601,0.033290,-0.016072,0.004027,-0.001288,-0.013528,0.084458,-0.012499,0.024720
Industry,0.050262,1.000000,0.174805,0.423805,-0.092565,-0.084207,-0.012584,0.024070,-0.011777,-0.021496,...,-0.024295,0.136147,0.143198,-0.078072,-0.133315,0.067219,0.580472,0.275484,-0.011408,0.000511
Days,0.017668,0.174805,1.000000,-0.039139,-0.100654,-0.023818,-0.153756,-0.001366,0.029538,-0.052516,...,-0.038843,0.038765,0.009334,-0.004915,-0.188873,-0.019506,0.244555,0.046219,-0.049321,-0.010851
Tech_or_nonTech,0.016214,0.423805,-0.039139,1.000000,0.030738,-0.025341,0.072158,-0.005492,-0.008032,0.059446,...,0.003449,0.079357,0.100782,-0.102029,0.181533,-0.050188,0.440083,-0.001039,0.060954,0.010796
Exit,0.119272,-0.092565,-0.100654,0.030738,1.000000,0.047938,0.035035,0.003538,-0.012015,0.034161,...,-0.019761,0.003874,0.074031,-0.044235,0.218132,-0.031003,-0.070985,-0.014071,-0.010658,-0.001750
is_NY,-0.008433,-0.084207,-0.023818,-0.025341,0.047938,1.000000,-0.133710,-0.078280,-0.056357,-0.072748,...,0.015069,-0.023497,-0.023111,0.007723,-0.035331,0.043090,-0.059990,-0.017439,0.036532,0.055426
is_CA,0.040973,-0.012584,-0.153756,0.072158,0.035035,-0.133710,1.000000,-0.133406,-0.096044,-0.123978,...,0.020454,0.013133,-0.015976,-0.024295,0.071323,0.010949,-0.031814,-0.026637,0.024964,0.189861
is_TX,-0.005715,0.024070,-0.001366,-0.005492,0.003538,-0.078280,-0.133406,1.000000,-0.056228,-0.072582,...,-0.012393,-0.018384,0.108906,0.011722,-0.054441,-0.007112,0.025933,0.020959,-0.026715,-0.120694
is_PA,-0.008805,-0.011777,0.029538,-0.008032,-0.012015,-0.056357,-0.096044,-0.056228,1.000000,-0.052255,...,-0.008272,-0.017346,-0.011625,0.010787,0.031457,-0.009601,-0.005560,-0.012408,-0.008778,0.029363
is_MA,-0.003588,-0.021496,-0.052516,0.059446,0.034161,-0.072748,-0.123978,-0.072582,-0.052255,1.000000,...,-0.004850,-0.004348,-0.021643,-0.011703,0.138131,-0.004409,-0.019112,-0.028378,0.000939,-0.066171
is_OH,-0.003068,0.056500,0.085310,0.025106,-0.031996,-0.051475,-0.087725,-0.051358,-0.036975,-0.047728,...,-0.010520,0.009713,0.008057,0.011529,-0.040523,-0.010984,0.066643,0.017798,-0.011638,-0.065656
is_IL,-0.008728,0.015434,0.058211,-0.007443,-0.019263,-0.061012,-0.103979,-0.060874,-0.043825,-0.056571,...,0.000765,-0.007299,-0.004794,0.023848,-0.043077,0.001670,0.016973,0.037942,-0.000028,-0.091928
Lat,-0.007188,0.016766,0.071734,0.056286,-0.021808,0.175499,-0.232787,-0.399559,0.092997,0.229146,...,-0.005678,-0.003579,-0.048588,-0.014715,0.031554,-0.012614,0.042081,-0.008823,0.013750,0.024554
Long,-0.037941,-0.022086,0.112249,-0.053121,-0.005846,0.289259,-0.728481,-0.062401,0.181988,0.313215,...,-0.019495,-0.028254,-0.033497,0.011130,0.003926,-0.005748,0.008103,-0.001815,-0.014189,-0.146051
Technology,-0.008078,-0.012253,-0.161786,0.350216,-0.086196,0.030362,0.088392,-0.005270,-0.009072,0.021227,...,-0.008280,-0.021299,-0.025524,0.059763,-0.141868,0.056799,-0.070502,0.026499,0.066333,0.015855
Healthcare,-0.029691,-0.288484,-0.236571,-0.073194,0.087011,-0.032763,0.036736,-0.038436,0.029379,0.094839,...,0.117221,-0.085207,-0.120620,-0.143960,0.509439,-0.056299,-0.301030,-0.199199,-0.013412,0.002074
Finance,-0.015467,-0.630586,-0.004433,-0.350232,0.032483,0.110677,-0.027650,-0.000293,-0.012762,-0.049972,...,-0.060991,-0.056690,-0.081169,0.149938,-0.217701,-0.054841,-0.324279,-0.139375,0.016219,0.001342
Retail,-0.004287,0.093810,0.035078,0.113409,-0.026879,0.027956,0.017290,-0.004110,-0.017957,-0.019452,...,0.021201,-0.020960,-0.012872,0.007688,-0.087156,0.072079,0.071891,0.029826,0.044052,-0.005597
Travel,0.008775,0.229481,-0.040810,-0.014688,-0.011152,0.023689,0.023638,-0.011465,-0.024332,-0.006581,...,-0.002236,0.161698,-0.018990,-0.009738,-0.056921,0.302435,-0.096269,0.025285,0.034850,0.011346
Education,-0.003698,-0.038306,-0.016615,-0.021938,-0.005469,0.015665,-0.022564,-0.000108,0.017215,0.010053,...,0.028060,0.005523,-0.013691,0.024513,-0.023332,0.036737,-0.056983,-0.006645,0.025080,0.003832
Automotive,0.029538,0.362618,0.080424,0.194061,-0.029529,-0.042169,-0.007794,0.007045,-0.003363,-0.013621,...,-0.036391,0.031897,0.041926,0.010112,-0.114075,-0.041536,0.142171,0.175962,-0.005905,0.012952
Food,0.020807,0.081399,0.047420,0.036752,-0.015636,0.006966,-0.001524,-0.009096,0.002730,-0.027116,...,0.039034,-0.017808,-0.005924,-0.038494,-0.017375,0.032801,0.094226,0.003405,-0.009362,0.006176
Sports,-0.009504,-0.024295,-0.038843,0.003449,-0.019761,0.015069,0.020454,-0.012393,-0.008272,-0.004850,...,1.000000,-0.013321,-0.026564,-0.041940,-0.029723,0.061299,-0.052740,-0.040897,0.008226,0.024454
Aerospace,0.000601,0.136147,0.038765,0.079357,0.003874,-0.023497,0.013133,-0.018384,-0.017346,-0.004348,...,-0.013321,1.000000,-0.001984,0.003028,-0.043844,-0.012459,0.070940,0.025379,-0.015800,-0.007025
Oil and Energy,0.033290,0.143198,0.009334,0.100782,0.074031,-0.023111,-0.015976,0.108906,-0.011625,-0.021643,...,-0.026564,-0.001984,1.000000,-0.009183,-0.064554,-0.032489,0.099125,0.080058,-0.013687,-0.010007
Services,-0.016072,-0.078072,-0.004915,-0.102029,-0.044235,0.007723,-0.024295,0.011722,0.010787,-0.011703,...,-0.041940,0.003028,-0.009183,1.000000,-0.119633,0.013451,-0.138658,0.060879,-0.004953,-0.011683
Biotechnology,0.004027,-0.133315,-0.188873,0.181533,0.218132,-0.035331,0.071323,-0.054441,0.031457,0.138131,...,-0.029723,-0.043844,-0.064554,-0.119633,1.000000,-0.076831,-0.149830,-0.107967,-0.020998,0.002297
Hospitality and Entertainment,-0.001288,0.067219,-0.019506,-0.050188,-0.031003,0.043090,0.010949,-0.007112,-0.009601,-0.004409,...,0.061299,-0.012459,-0.032489,0.013451,-0.076831,1.000000,-0.086596,0.009866,0.128823,-0.000528
Manufacturing and Real Estate,-0.013528,0.580472,0.244555,0.440083,-0.070985,-0.059990,-0.031814,0.025933,-0.005560,-0.019112,...,-0.052740,0.070940,0.099125,-0.138658,-0.149830,-0.086596,1.000000,-0.037566,-0.044725,-0.000874
Transportation,0.084458,0.275484,0.046219,-0.001039,-0.014071,-0.017439,-0.026637,0.020959,-0.012408,-0.028378,...,-0.040897,0.025379,0.080058,0.060879,-0.107967,0.009866,-0.037566,1.000000,0.008754,-0.007203
Marketing,-0.012499,-0.011408,-0.049321,0.060954,-0.010658,0.036532,0.024964,-0.026715,-0.008778,0.000939,...,0.008226,-0.015800,-0.013687,-0.004953,-0.020998,0.128823,-0.044725,0.008754,1.000000,0.016453
Location,0.024720,0.000511,-0.010851,0.010796,-0.001750,0.055426,0.189861,-0.120694,0.029363,-0.066171,...,0.024454,-0.007025,-0.010007,-0.011683,0.002297,-0.000528,-0.000874,-0.007203,0.016453,1.000000

In [51]:
dd.describe()

,Total Funding Amount (in USD),Industry,Days,Tech_or_nonTech,Exit,is_NY,is_CA,is_TX,is_PA,is_MA,...,Sports,Aerospace,Oil and Energy,Services,Biotechnology,Hospitality and Entertainment,Manufacturing and Real Estate,Transportation,Marketing,Location
count,5.203000e+03,19560.000000,19560.000000,19560.000000,19560.000000,19560.000000,19560.000000,19560.000000,19560.000000,19560.000000,...,19560.000000,19560.000000,19560.000000,19560.000000,19560.000000,19560.000000,19560.000000,19560.000000,19560.000000,19560.000000
mean,9.477589e+07,1.663037,8826.034611,0.679601,1.594121,0.072751,0.185583,0.072444,0.038906,0.063190,...,0.018712,0.014110,0.035685,0.129192,0.136810,0.038037,0.385327,0.085583,0.023722,1359.146524
std,6.356682e+08,1.314925,8342.828583,0.466642,1.345076,0.259733,0.388780,0.259228,0.193376,0.243311,...,0.135508,0.117949,0.185509,0.335421,0.343655,0.191290,0.486685,0.279754,0.152185,788.891141
min,1.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000e+06,1.000000,2943.250000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,615.000000
50%,2.000000e+07,1.000000,6039.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1424.000000
75%,6.530497e+07,3.000000,11766.750000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2078.000000
max,2.521245e+10,4.000000,43919.000000,1.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2758.000000

In [53]:
import pandas as pd

dd = pd.read_csv('noise_removed')

In [54]:
dd.head(20)

,Unnamed: 0,Total Funding Amount (in USD),Industry,Days,Tech_or_nonTech,Exit,is_NY,is_CA,is_TX,is_PA,...,Sports,Aerospace,Oil and Energy,Services,Biotechnology,Hospitality and Entertainment,Manufacturing and Real Estate,Transportation,Marketing,Location
0,0,413689019.0,3,2295,1,5,0,1,0,0,...,0,0,0,0,1,0,1,0,0,2167
1,1,667700000.0,3,2877,1,5,0,0,0,0,...,0,0,1,0,0,0,1,0,0,2422
2,2,36500000.0,3,3242,1,5,0,0,0,0,...,0,0,0,0,1,0,1,0,0,885
3,3,436180930.0,3,1586,1,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1052
4,4,133789999.0,3,4821,1,5,0,0,0,0,...,0,1,0,0,0,0,1,0,0,467
5,5,4950000.0,3,6793,1,5,0,1,0,0,...,0,0,0,0,1,0,1,0,0,1146
6,6,105000000.0,3,6284,1,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1363
7,7,51590000.0,3,5778,1,5,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1692
8,8,13115002.0,3,5996,1,5,0,0,0,0,...,0,0,0,0,1,0,1,0,0,2071
9,9,2930000.0,3,6697,1,2,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2226
10,10,45000000.0,3,3308,1,5,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1526
11,11,30806628.0,3,2405,1,5,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1305
12,12,16648351.0,3,2525,1,5,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1146
13,13,49880.0,3,5320,1,5,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1797
14,14,10216562.0,3,21415,1,5,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1259
15,15,20000000.0,3,9702,1,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,2686
16,16,72000000.0,3,1190,1,1,0,1,0,0,...,0,0,0,0,0,1,1,0,0,2167
17,17,NaN,3,13181,1,5,0,1,0,0,...,0,1,1,0,0,0,1,0,0,1567
18,18,450000.0,3,2987,1,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2230
19,19,4735843.0,3,1961,1,5,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1325

In [1]:
import pandas as pd

db = pd.read_csv('output.csv')